{% extends "base.html" %} {% block content %}
<h3>Data Transaksi</h3>
<div class="outer-wrapper">
    <div class="table-wrapper">
        <table class="table table-sort">
            <thead>
                <tr>
                    {% for col in column_names %}
                    <th class="tHead">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in row_data %}
                <tr>
                    {% for col,row_ in zip(column_names, row) %}
                    <td>{{ row_ }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
